*{
	font-family: 'Raleway', sans-serif;
	background:  #e75903 ;
}

#splash {
	background-image: url(https://image.freepik.com/vector-gratis/vector-ilustracion-de-dibujos-animados-de-varias-verduras-sobre-un-fondo-de-madera_1441-519.jpg);
	background-repeat: no-repeat;
    height: 200%;
    width: auto;
    padding: 100px;
    color: #FFF;    
}

#container {
	text-align: center;
	max-width: 1170px;
	margin: 0 auto;
}

h1 span {
	color: red;
}

h1 img {
	max-width: 200px;
}

.content {
	margin-top: 60px;
}

.search {
	max-width: 300px;
	margin: 0 auto;
	position: relative;

}

.search input {
	width: 300px;
	padding: 10px;
	border: 1px solid #cecece;
	border-radius: 3px;
	margin-left: 40px;
}

.search i {
	position: absolute;
	cursor: pointer;
	right: -12px;
	top: 9px;
}

ul {
	padding: 0px;
	margin-top: 40px;
}

ul li {
	list-style-type: none;
	display: inline-block;
	float: left;
	border: 1px solid #cecece;
	padding: 10px;
	margin: 10px;
	width: 347px;

}

	
.img-responsive{
	height: 200px;
	width: 250px;
	display: inline-block;
}

iframe{
	position: relative;
	margin-left: 530px; 
}

#title{
	text-align: center;
	color: #FFF;
}

br{
	border: 2px solid #FFF;
	width: 50%;

};